appnope==0.1.2
asgiref==3.8.1
backcall==0.2.0
boto3==1.34.79
botocore==1.34.79
Brotli==1.1.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==42.0.5
debugpy==1.4.1
decorator==5.0.9
defusedxml==0.7.1
dj-database-url==2.1.0
Django==4.2.11
django-allauth==0.61.1
django-environ==0.11.2
entrypoints==0.3
gunicorn==21.2.0
h11==0.14.0
idna==3.6
ipykernel==6.3.1
ipython==7.27.0
ipython-genutils==0.2.0
jedi==0.18.0
jmespath==1.0.1
jupyter-client==7.0.2
jupyter-core==4.7.1
matplotlib-inline==0.1.2
nest-asyncio==1.5.1
oauthlib==3.2.2
packaging==24.0
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.20
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pycparser==2.22
Pygments==2.10.0
PyJWT==2.8.0
python-dateutil==2.8.2
python3-openid==3.2.0
pyzmq==22.2.1
requests==2.31.0
requests-oauthlib==2.0.0
s3transfer==0.10.1
six==1.16.0
sqlparse==0.4.4
tornado==6.1
traitlets==5.1.0
typing_extensions==4.10.0
urllib3==1.26.18
uvicorn==0.29.0
wcwidth==0.2.5
whitenoise==6.6.0
