{% extends 'base.html' %}


{% block content %}

<h1>Carts</h1>

<hr>
<div class="row">
  <div class="col s6">
    <h3>Shopping Cart</h3>
    {% for cart in cart_list %}
      <p>{{ cart.quantity }}</p>
      <p>{{ cart.user }}</p>
      {% for item in cart.furniture_item.all %}
        <p>{{ item.name }}</p>
        <p>{{ item.description }}</p>
        <p>${{ item.price }}</p>
      {% endfor %}
    {% endfor %}
    <!-- {% if cart.quantity.count %} -->
    
    {% for furniture_item in cart.furniture_item.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
        {{ furniture_item.name }}
        </span>
        <span>{{ furniture_item.quantity }} </span>
        <form action="{% url 'disassoc_item' cart.id furniture_item.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn">Remove</button>
        </form>
      </div>
    </div>
    {% endfor %}
    <!-- {% else %}
    <h5>No items in cart</h5>
    {% endif %}   -->
  </div>
  <!-- Available toys will come after this line -->
    
{% endblock %}
    















