{% extends 'base.html' %}
{% block content %}
<div class="container">
  <br><br>
  <div class="row">  <!-- Single row for all items -->
    {% for furniture_item in furniture %}
      <!-- Each item takes up 3 columns in a 12-column grid, creating 4 columns per row -->
      <div class="col s12 m6 l3">
        <a href="{% url 'detail' furniture_item.id %}">
          <div class="card-panel hoverable"> <!-- Added hoverable for better UX -->
            {% if furniture_item.photo_set.all %}
              <img class="responsive-img" src="{{ furniture_item.photo_set.all.0.url }}">
            {% else %}
              <div class="black-text center-align">No Photos Uploaded</div>
            {% endif %}
            <span style="color:black" class="card-title"><strong>{{ furniture_item.name }}</strong></span>
            <p style="color:black">Price: ${{ furniture_item.price }}</p>
            <p style="color:black">Category: {{ furniture_item.category }}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
