{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Furniture Gallery</title>
 
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <script>
  </script>
</head>

<body>
  <nav>
    <a href="#" class="brand-logo"><img src="https://i.imgur.com/YWEppWG.png" width="245px" /></a>
    <ul class="top-nav">
      <li>
        <a href="{% url 'furniture_create' %}"><span class="black-text">Add Furniture</span></a>
      </li>
      <li>
        <a href="sass.html"><span class="black-text">Admin</span></a>
      </li>
      <li>
        <a href="badges.html"><span class="black-text">Cart</span></a>
      </li>
      <li>
        <a href="collapsible.html"><span class="black-text">Logout</span></a>
      </li>
    </ul>

  </nav>


  <main class="container">

    <ul class="sidenavbar">


      <li><a href="">Bed</a></li>
      <li><a href="">Table</a></li>
      <li><a href="">Chair</a></li>
      <li><a href="">Sofa</a></li>

    </ul>
    <section>
      {% block content %}
      {% endblock %}
    </section>
  </main>
  <script>
  </script>
</body>

</html>