{% extends 'base.html' %}


{% block content %}
<section class="header_card">
    <div>
        <div class="branding_title">
        <p>An Exclusive <strong>Furniture </strong>
            <br>Marketplace
            <br>Made Exclusively For <strong>You</strong>
        </p>
        </div>
        <div class="slogan">
            <p id="slogan_firstline">
                Make your house a home with our <br> wide collection of beautiful furniture</p>
        </div>
        <div>
            <br/>
            <button class="shop-btn"><a style="color: white" href="/furniture">Shop Inventory</button>
        </div>
        
    </div>
    <a href="https://imgur.com/jvoS6UL"><img src="https://i.imgur.com/jvoS6ULl.png" title="source: imgur.com"
            class="header_image" /></a>
</section>

{% endblock %}