
body {

    background-color: #f3f4f6;
    margin: 0;
  }
  
nav {
    color:black;
    border: 1px solid white;
    -webkit-box-shadow: -6px 11px 15px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -6px 11px 15px -12px rgba(0,0,0,0.75);
    box-shadow: -6px 11px 15px -12px rgba(0,0,0,0.75);;
    display: flex;
    background-color: white;
    font-weight: bold;
    height: 90px; 
}

nav ul li a:hover {
    color: blue;
    background-color: white;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin-left: auto;
    padding-right: 20px;
    color: black;
}

nav ul li {
    margin: 15px;
}

nav ul a {
    text-decoration: none;
    color: black;
}

.sidenavbar {
    list-style-type: none;
    width: 300px;
    padding: 0px;;
    margin-top: 100px;
}

.sidenavbar li {
    margin: 0.2px;
    border: 0.5px solid #AEAEB0;
    padding: 9px;
    border-radius: 10px;
    text-align: center;
}

.sidenavbar li a {
    display: block;
    border-radius: 2px;
    color: black;
    font-size: medium;
}

.sideContainer {
    display: flex;
}

.sidenavbar li:hover {
    background-color: #eaebed;  
}

.btn {
    color: black;
    background-color: white;
    font-weight: bold;
    border: none;
    display: contents;
    font-weight: bold;
}

.btn:hover {
    background-color: white;
    color: blue;
}

.homepic img {
  
    width: 100%;
    margin-top: 5px;
   
}

.submit_btn {
    background-color: green;
    color: white
}