
/* ----------base.html---------- */
body {

    background-color: #f3f4f6;
    margin: 0;

  }
  
nav {
    color:black;
    border: 1px solid white;
    -webkit-box-shadow: -6px 11px 15px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -6px 11px 15px -12px rgba(0,0,0,0.75);
    box-shadow: -6px 11px 15px -12px rgba(0,0,0,0.75);;
    display: flex;
    background-color: white;
    font-weight: bold;
    height: 90px; 
}


nav ul li a:hover {
    color: blue;
    background-color: white;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin-left: auto;
    padding-right: 20px;
    color: black;
}

nav ul li {
    margin: 15px;
}

nav ul a {
    text-decoration: none;
    color: black;
}

.sidenavbar {
    list-style-type: none;
    width: 300px;
    padding: 0px;;
    margin-top: 100px;
    margin-right: 4rem;
    margin-left: 2rem;
}

.sidenavbar li {
    margin: 0.2px;
    border: 0.5px solid #AEAEB0;
    padding: 9px;
    border-radius: 10px;
    text-align: center;
}

.sidenavbar li a {
    display: block;
    border-radius: 2px;
    color: black;
    font-size: medium;
}

.sideContainer {
    display: flex;
}

.sidenavbar li:hover {
    background-color: #eaebed;  
}

.btn {
    color: black;
    background-color: white;
    font-weight: bold;
    border: none;
    display: contents;
    font-weight: bold;
}

.btn:hover {
    background-color: white;
    color: blue;
}

.homepic img {
  
    width: 100%;
    margin-top: 5px;
   
}

.submit_btn {
    background-color: green;
    color: white
}

/* --------------home.html------------ */
.shop-btn {
    background-color: black;
    width: 10rem;
    height: 3rem;
    margin-left: 3rem;
    margin-bottom: 3rem;
}
.header_card{
    display: flex;
    -webkit-box-shadow: -6px 11px 15px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -6px 11px 15px -12px rgba(0,0,0,0.75);
    box-shadow: -6px 11px 15px -12px rgba(0,0,0,0.75);
    margin-bottom: 3rem;
}

.branding_title{
    margin-top: 3rem;
    font-size: x-large;
    margin-left: 3rem;
    margin-right: 3rem;
    white-space: nowrap;
}

.header_image{
    margin-top: 3rem;
    width: 100%;
    height: 65%;
    border: 3px solid white
}

.slogan {
    margin-top: 3rem;
    width: 30rem;
    font-size: medium;
    margin-left: 3rem;
    margin-right: 3rem;
    word-wrap: break-word;
}
.button_container {
    margin-left: 3rem;
}
.btn-details {
    background-color: rgb(127, 93, 39);
    color: white;
    height: 3rem;
}

.card{
    display:flex;
    text-align: center;
}

/* -----------------------detail.html-------------------------- */
.card-content {
    width: 450px;
    object-position: center;
    align-items: center;
    text-align: center;
    margin-left: 3rem;
    margin-bottom: 3rem;
}
.carousel {
    display: flex;
    align-items: center; /* Center items vertically in the container */
    justify-content: center; /* Center items horizontally in the container */
    text-align: center;
    margin-left: 3rem;
    }
    
.carousel-item {
    display: flex;
    justify-content: center; /* Centers the image horizontally within the link */
     width: 100%; /* Ensures the link element takes full width of the carousel */
    }
    
.carousel-item img {
    width: auto; /* Maintains image aspect ratio */
    max-width: 100%; /* Ensures image does not exceed its container */
    height: auto; /* Auto adjust height based on width */
    }
    
.detail-card{
    display: flex;
    align-items: center; /* Center items vertically in the container */
    justify-content: center; /* Center items horizontally in the container */
    text-align: center;
    margin-left: 5rem;
}

.cart-btn{
    width: 10rem;
    height: 3rem;
    background-color: green;
    color: white;
}

.card-content {
    /* display: flex; */
    flex-direction: column;  /* Stack children vertically */
    align-items: center;  /* Center children horizontally */
    text-align: center;  /* Center text */
    background-color: white;
    border: 1rem solid rgba(255, 255, 255, 0.314);
    margin-left: 6rem;

    word-wrap: break-word;
}

.photo-upload-detail{
    display: block;  /* Use block for stacking */
    margin: auto;  /* Centering horizontally */
    width: fit-content;  /* Fit the content's width */
    padding: 10px;  /* Add some padding around the content */    
}
/* this is the Add to Cart Button down the Delete Button */
form {
    /* display: flex;
    flex-direction: row;
    align-items: center; */
    width: 100%;  /* Take the full width of its parent */
}


.chose-file {
    display: grid;
    align-items: center;
    position: center;
    
}

.photo-upload{
    
    justify-content:space-between;
    max-width: 19rem;
    max-height: 5rem;
}


.delete-btn {
    margin-top: 5rem;
    background-color: red;
    color: black;
    width: 30rem;
    height: 3rem;
    margin-bottom: 4rem;
    font-weight: bolder;
}

.admin-btn-details {
    border: 5px solid grey;
    width: 30rem;
    
}

.admin-btn-details, .admin-btn-delete{
    margin-left: 6rem;
    margin-bottom: 1rem;
}
/* ------------------------------------------------------ */

.btn-remove{
    background-color: black;
}

.remove-form{
    background-color: black;
}

/*------------------- index.html--------------------- */

.responsive-img {
   border: 2rem transparent rgba(215, 212, 212, 0.949);
}

.row{
    border: 2rem transparent rgba(215, 212, 212, 0.249);
    border-radius: 10px;
    color: black;
    text-align: center;
    
}


