
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
  }
  
  main {
	flex: 1 0 auto;
  }
  
  /* this is a nice example class for a sticky footer */
  footer.page-footer {
	padding-top: 0;
	text-align: right;
  }

  .datepicker-date-display {
	background-color: #1b5e20
  }